/* For webkit browsers (Chrome, Safari) */
#scrollable-div::-webkit-scrollbar {
    width: 8px;              /* width of scrollbar */
}

#scrollable-div::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);  /* track color */
    border-radius: 10px;
}

#scrollable-div::-webkit-scrollbar-thumb {
    background-color: #38363b; /* thumb color */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1); /* padding around thumb */
}

#scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: #7c3aed; /* hover color */
}

/* Firefox */
#scrollable-div {
    scrollbar-width: thin;
    scrollbar-color: #38363b rgba(0,0,0,0.1);
}
